@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&family=Amiri:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Amiri", serif;
  
  --color-ramadan-gold: #D4AF37;
  --color-ramadan-green: #1B4332;
  --color-ramadan-cream: #FDFCF0;
  --color-ramadan-dark: #081C15;
}

body {
  background-color: var(--color-ramadan-cream);
  color: var(--color-ramadan-dark);
  direction: rtl;
  color-scheme: light;
}

